.cardio-exercise-container {
    background-color: #002147; 
    color: white; 
    min-height: 100vh; 
    padding: 20px; 
}

.cardio-exercise-container h1 {
  color: white;
  margin-bottom: 20px;
  padding: 15px;
  border: 0.5px solid #ddd;
  border-radius: 2px;
  box-shadow: 0px 4px 0px rgba(237, 238, 243, 0.1);
  max-height: 55px;   
  border-width: 0px; 
  max-width: 280px;
}

.cardio-header-container {
  display: flex;
  align-items:center;
  margin-bottom: 20px;
}

.cardio-header-image {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  border: 1% solid #002147;
  box-shadow: 3px 8px 10px rgba(255, 255, 255, 0.911);
  border-radius: 2px;
  margin-top: 20px;

}

.cardio-exercise-container p {
  margin-bottom: 30px;
  padding: 8px;
}

.record-button {
  padding: 10px 20px;
  border: none;
  margin-top: 10px;
  background-color: #002147;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap; /* Prevents the text inside the button from wrapping */
}

.record-button:hover {
  background-color: #024083;
}



  