.rehab-container {
    background-color: #f04040; 
    color: #ffffff;
    min-height: 100vh; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: start;
    background: linear-gradient(to right, #f73d3d, #e25b32);

}

.rehab-header-container {
    display: flex;
    justify-content: space-between; 
    align-items:center;
    margin-bottom: 20px;
    width: 100%;
  }

.rehab-header-container h1{
    color: white;
    margin-bottom: 20px;
    padding: 15px;
    border: 0.5px solid #ddd;
    border-radius: 2px;
    box-shadow: 0px 4px 0px rgba(237, 238, 243, 0.1);
    max-height: 55px;   
    border-width: 0px; 
    max-width: 280px;
    margin-left: 20%;
}

.rehab-header-container img {
    max-width: 40%;
    height: 220px;
    margin-left: auto;
    border: 1% solid #002147;
    box-shadow: 3px 8px 10px rgba(255, 255, 255, 0.911);
    border-radius: 2px;
    margin-top: 20px;
    overflow: hidden;
}

.rehab-container h2{
    margin-left: 26%;
    padding-top: 10px;
    font-size: 120%;
    font-weight: 400;
}

.rehab-container p{
    padding-bottom: 10px;
    margin-left: 11%;

}

.nutrition-button {
    padding: 50px;
    background-color: white;
    color: #f04040;
    border-radius: 50%;
    font-size: larger;
    font-weight: bold;
    cursor: cell;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor:cell;
    margin-left: 23%;

}

.nutrition-button:hover {
    background-color: #f04040;
    color: white
}

.rehab-input-container input {
    display: block;
    width: 103%;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 8px;
    border-radius: 2px;
    width: 400px;
    margin-left: 25%;

}

.rehab-input-container label {    
    margin-bottom: 15px;
    color: #002147;
    margin-left: 25%;

}

.rehab-message {
    margin-top: 20px;
    font-size: large;
    margin-left: 10%;
}

.rehab-calculate-button {
    padding: 30px;
    border-radius: 50%;
    background-color: white;
    color: red;
    cursor:cell;
    margin-top: 10px;
    font-weight: bolder;
    margin-left: 26%;
}

.rehab-calculate-button:hover {
    background-color: #f04040;
    color: white;
}
