.rehab-container {
    background-color: #f04040; 
    color: #ffffff;
    min-height: 100vh; 
    padding: 20px; 
}

.rehab-container h1{
    padding-bottom: 10px;
}

.rehab-container p{
    padding-bottom: 10px;
}
