.stretching-exercise-container {
    background-color: #7ed2ec; 

    /*colors: baby blue: #90cce7; sky blue: #86deee;*/ 
    color: #ffffff;
    min-height: 100vh; 
    padding: 20px; 
}

.stretching-exercise-container h1{
    padding-bottom: 10px;
    color: white;
    margin-bottom: 20px;
    padding: 15px;
    border: 0.5px solid #ddd;
    border-radius: 2px;
    box-shadow: 0px 4px 0px rgba(16, 36, 134, 0.1);
    max-height: 55px;   
    border-width: 0px; 
    max-width: 230px;
}


.stretch-form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between; 
    align-items: center; 
}
  
.form-field {
    flex: 1; /* Each field will take equal space */
    min-width: 120px; 
}
  
.form-field input,
.form-field label {
    display: block;
    width: 103%;
    margin-bottom: 5px;
    padding: 10px;
}

.stretch-submit-button {
    padding: 10px 20px;
    border: none;
    width: 100%;
    background-color: #002147;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap; 
}

.stretch-cancel-button {
    padding: 5px 10px;
    margin-top: 5px;
    width: 100%;
    border: none;
    background-color: #002147;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap; /* Prevents the text inside the button from wrapping */
}

.stretch-submit-button:hover {
    background-color: #ffffff;
    color: #002147;
}

.stretch-cancel-button:hover {
    background-color: #ffffff;
    color: #002147;
}

@media (max-width: 768px) { 
    .cardio-form-container {
        flex-direction: column;
    }

    .form-field,
    .stretch-submit-button {
        width: 100%; /* On smaller screens, the fields take the full width */
        max-width: 100%; /* Ensuring the fields don't exceed the width of their container */
    }
    .stretch-cancel-button {
        width: 100%; 
        max-width: 100%; 
    }

    .stretch-submit-button {
        margin-top: 10px; 
    }
    .stretch-cancel-button {
        margin-top: 10px; 
    }
}


.stretch-record-button {
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    background-color: #002147;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap; /* Prevents the text inside the button from wrapping */
}

.stretch-record-button:hover {
    background-color: #ffffff;
    color: #002147;
    border: 2px solid #002147;
}
