.stretching-exercise-container {
    background-color: #7ed2ec; 
    color: #ffffff; /*other colours: baby blue: #90cce7; sky blue: #86deee;*/
    min-height: 100vh; 
    padding: 20px; 
    background: linear-gradient(to right, #3ccaf5, #4a5bf3);

}

.stretching-exercise-container h1{
    color: white;
    margin-bottom: 5px;
    padding: 15px;
    border: 0.5px solid #ddd;
    border-radius: 2px;
    box-shadow: 0px 4px 0px rgba(16, 36, 134, 0.1);
    max-height: 55px;   
    border-width: 0px; 
    max-width: 230px;
    margin-left: 0%;
}

.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header-image {
    max-width: 40%;
    height: 220px;
    margin-left: auto;
    border: 1% solid #7ed2ec;
    box-shadow: 3px 8px 10px rgba(255, 255, 255, 0.911);
    border-radius: 2px;
    margin-top: 20px;
    overflow: hidden;

}

.stretching-exercise-container p {
    margin-bottom: 20px;
    padding: 8px;
}

.stretch-form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between; 
    align-items: center; 
}
  
.form-field {
    flex: 1; /* Each field will take equal space */
    min-width: 120px; 
}
  
.form-field input,
.form-field label {
    display: block;
    width: 103%;
    margin-bottom: 5px;
    padding: 10px;
}

.stretch-submit-button {
    padding: 10px 20px;
    border: none;
    width: 100%;
    background-color: #002147;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap; 
}

.stretch-cancel-button {
    padding: 5px 10px;
    margin-top: 5px;
    width: 100%;
    border: none;
    background-color: #002147;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap; /* Prevents the text inside the button from wrapping */
}

.stretch-submit-button:hover {
    background-color: #ffffff;
    color: #002147;
}

.stretch-cancel-button:hover {
    background-color: #ffffff;
    color: #002147;
}

.stretch-record-button {
    padding: 10px 20px;
    border: none;
    background-color: #002147;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap;
    margin-bottom: 20px;

}

.stretch-record-button:hover {
    background-color: #ffffff;
    color: #002147;
    border: 2px solid #002147;
}

@media (max-width: 1200px) {
    .stretching-exercise-container {
        flex-direction: column;
    }
    .header-image {
        max-width: 100%;
        height: auto;
        margin-right: auto;
    }
  }

@media (max-width: 768px) { 
    .stretching-exercise-container {
        flex-direction: column;
    }
    .header-image {
        max-width: 100%;
        height: 150px;
        margin-right: auto;
    }
}


