.cardio-item {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    margin-top: 10px; 
    border-bottom: 1px solid #ccc; 
  }

  .cardio-attribute {
    margin: 0px 5px; 
    white-space: nowrap; 
    text-align: left;
    flex: 1;    
  }

  .cardio-attribute-additional-info {
    margin: 0px 5px; 
    flex-wrap: wrap;
    text-align: left;
    flex: 1;   
    max-width: 200px; 
    word-wrap: break-word;
    overflow-wrap: break-word; 
  }

  .cardio-item .form-field input,
  .cardio-item .form-field select {
    width: 98%;
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    flex: 1;
  }

  .modify-button {
    padding: 5px 8px;
    margin-right: 5px; 
    border: none;
    width: auto;
    background-color: #002147;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap; 
  }
  .delete-button {
    padding: 5px 8px;
    width: auto;
    border: none;
    background-color: #002147;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap; 
  }

  .modify-button:hover {
    background-color: #05502d;
  }

  .delete-button:hover {
    background-color: #880303;
  }

    /* Responsive layout for smaller screens */
    @media (max-width: 768px) {
        .cardio-item {
          flex-direction: column;
          align-items: flex-start; 
        }
      }
