.routine-item {
    padding: 10px;
    margin-top: 10px; 
    border-bottom: 1px solid #ccc; 
    max-width: 420px;
    min-width: 420px;
    border: 1px solid #ddd;
    border: 10px;
    box-shadow: 8px 8px 8px rgba(255, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;    
    margin-top: 20px;
    transition: box-shadow 0.3s ease; /* Adding transition for box-shadow */
  }

  .routine-item h3 {
    margin-bottom: 5px;
  }

  .description-wrapper {
    margin-top: 5px;
    margin-bottom: 15px; 
  }


  .modify-button {
    padding: 5px 10px;
    border: none;
    width: 13%;
    background-color: #002147;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap; 
  }
  .delete-button {
    padding: 5px 10px;
    width: 13%;
    border: none;
    background-color: #002147;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap; 
  }

  .modify-button:hover {
    background-color: #05502d;
  }

  .delete-button:hover {
    background-color: #880303;
  }

  .routine-item:hover {
    box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.288); /* Box-shadow changes on hover */
  }
  
    /* Responsive layout for smaller screens */
    @media (max-width: 768px) {
        .routine-item {
            max-width: 100%;
        }
    }
