.routine-details-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.routine-details-header {
    margin-bottom: 20px;
}

.routine-details-header h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #002147;
}

.routine-details-header p {
    font-size: 16px;
    margin: 0;
    color: #666;
    margin-bottom: 20px;
}

.routine-exercises {
    margin-bottom: 20px;
}

.routine-exercises h3 {
    font-size: 20px;
    margin-bottom: 8px;
    color: #001329;

}

.routine-exercises ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;    
}

.routine-exercises li {
    margin-bottom: 12px;
}

.routine-exercise-item {
    word-wrap: margin 0;
    padding: 10px;
    margin-top: 10px; 
    border-bottom: 1px solid #ccc; 
    max-width: 200px;
    min-width: 200px;
    border: 1px solid #ddd;
    border: 10px;
    box-shadow: 8px 8px 8px rgba(14, 13, 13, 0.1);
    padding: 20px;
    margin-bottom: 20px;    
    margin-top: 20px;   
}

.routine-exercise-item p.additional-info {
    word-wrap: break-word; /* Allow long words to wrap */
    margin-bottom: 15px; 
    max-width: 140px;
}

.routine-details-button {
    text-align: right;
    padding: 5px 16px;
    margin-left: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #002147;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.routine-details-delete-button {
    text-align: right;
    padding: 5px 16px;
    margin-left: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #002147;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

.routine-details-button:hover {
    background-color: #0056b3;
}

.routine-details-delete-button:hover {
    background-color: rgb(204, 3, 3);
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
}

.routine-exercise-item:hover {
    box-shadow: 8px 8px 8px rgba(177, 176, 176, 0.637);
}
